.DS_Store
.vscode/

data/*
!data/benchmarks/
!data/external/
!data/results/
.context/
outputs/
*.png
*.parquet

# Database files
*.db

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment and dependency files
.env
.venv
env/
venv/
ENV/
.uv

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/
/site/_site/
